:root {
  --green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

* {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: Inter;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--off-black);
}

.card {
  width: 384px;
  height: 611px;
  background-color: var(--dark-grey);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
}

.profile-pic {
  width: 88px;
  height: 88px;
  border-radius: 100%;
}

.title {
  height: 36px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--White);
}

.description {
  margin-top: 4px;
  height: 21px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--green);
}

.bio {
  height: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--White);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 304px;
  height: 289px;
}

.link-item {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 8px;
  background-color: var(--grey);
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--White);
}

.link-item:active {
  background-color: var(--green);
  color: var(--grey);
}

@media only screen and (max-width: 600px) {
  .card {
    width: 327px;
    height: 579px;
    padding: 24px;
  }
  .links {
    width: 279px;
  }
}

.attribution {
  background-color: var(--grey);
  color: var(--White);
}

.attribution a {
  color: var(--green);
  text-decoration: none;
}
